.boxContact {
  border: 2px solid #d3d3d3; /* Светло-серый бордер */
  border-radius: 12px; /* Скругление углов */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
  background: white; /* Фон для лучшего контраста */
  width: 350px;
  height: 80px;
  padding: 10px;
  margin-top: 10px;
  display: flex; /* Выравнивание элементов в строку */
  justify-content: space-between; /* Разделяет элементы с максимальным расстоянием */
  align-items: center;
  border-radius: 20px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
}

.listContact {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}
